<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="fileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>logs/drone.%d{yyyy-MM-dd}.log</fileNamePattern>
            <!-- keep 90 days' worth of history -->
            <maxHistory>90</maxHistory>
        </rollingPolicy>
        <encoder>
            <Pattern>.%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg %n
            </Pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>TRACE</level>
        </filter>
    </appender>

    <root>
        <level value="INFO"/>
        <!--<appender-ref ref="consoleAppender"/>-->
        <appender-ref ref="fileAppender"/>
    </root>

    <logger name="com.futreprocessing.spring" level="INFO"/>
    <logger name="org.springframework.boot.actuate.audit.listener" level="ERROR"/>
    <logger name="org.apache.http.client.protocol.RequestTargetAuthentication" level="ERROR"/>

    <!-- Spring Web Service Payload Logging-->
    <logger name="org.springframework.ws.client.MessageTracing">
        <level value="TRACE"/>
    </logger>
    <logger name="org.springframework.ws.server.MessageTracing">
        <level value="TRACE"/>
    </logger>
</configuration>